section.practices
     .container
         h2.practices__title.title.wow.bounceIn Area of Practices
         .practices-portfolio
             .practices-portfolio__item.practices-portfolio__item_num-0
                 .practices-portfolio__appellation.appellation BUSINESS LAW
             .practices-portfolio__item.practices-portfolio__item_num-1
                 .practices-portfolio__appellation.appellation Partnership LAW
             .practices-portfolio__item.practices-portfolio__item_num-2
                 .practices-portfolio__appellation.appellation REAL ESTATE LAW
             .practices-portfolio__item.practices-portfolio__item_num-3
                 .practices-portfolio__appellation.appellation BUSINESS LAW
             .practices-portfolio__item.practices-portfolio__item_num-4
                 .practices-portfolio__appellation.appellation LANDLORD DISPUTES
             .practices-portfolio__item.practices-portfolio__item_num-5
                 .practices-portfolio__appellation.appellation ELDER ABUSE
