section.subscribe
    .subscribe__container.container
        h2.subscribe__title.title.wow.bounceIn Subscribe Our Newsletter
        form.subscribe-form
            fieldset.subscribe-form__row
                    input.subscribe-form__input.subscribe-form__input_border(type='text', placeholder='Name : ', required)
                    input.subscribe-form__input(type='email', placeholder='Enter your Email', required)
                    input.subscribe-form__submit(type='submit' value='SEND', )

