doctype html
html(lang="zxx")
    head
        include /modules/head
    body
           include /modules/header/header
           main.main-content
               include /modules/about/about
               include /modules/advantages/advantages
               include /modules/practices/practices
               include /modules/clients/clients
               include /modules/team/team
               include /modules/faq/faq
               include /modules/subscribe/subscribe
           include /modules/footer/footer










