section.about
     .about__container.container
         h2.about__title.title.wow.fadeInUp Let’s Introduce Ourself
         .about__content
             h3.about__appellation.appellation Criminal Lawyer
             .about__description.description Amet minim mollit non deserunt ullamco estsit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exercitation.
