nav.header-nav
    a(href="#").header-nav__item.header-nav__item_active Home
    a(href="#").header-nav__item Attorneys
    a(href="#").header-nav__item Practice Areas
    a(href="#").header-nav__item About Us
