header.header
       .container
           .header__block-links.wow.bounceIn(data-wow-delay="0.5s")
               include header-logo
               include header-navigation
               a.header-contact-now(href="#") Contact Now
           .header-person
               .header-person__content
                   h1.header-person__title.title.wow.bounceInDown(data-wow-delay="0.1s")
                       | You don’t have to
                       strong Fight them Alone.
                   .header-person__description.description.wow.bounceIn(data-wow-delay="0.5s")  Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, curabitur sodales conubia ut inceptos faucibus himenaeos tortor eget, hac massa gravida arcu interdum proin curae.
                   form.header-form-talk.wow.slideInLeft(data-wow-delay="0.5s")
                       fieldset.header-form-talk__row
                               input.header-form-talk__input(type='email', placeholder='Enter your email address', required)
                               input.header-form-talk__submit(type='submit' value='Let’s Talk', )
               img.header-person__foto.wow.bounceInLeft(src="images/header-person__foto.png", alt="")





