footer.footer
    .container
        .footer__block-links
            include  /modules/header/header-logo
            include  /modules/header/header-navigation
            include  /modules/header/header-soc-item.pug
        .footer__copyright-info
            | © 2020 Acme. All right reserved.
            a.footer__copyright(href="#") Privacy Policy
            a.footer__copyright-link(href="#") Terms of Service



